<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
    <% @users.each do |user| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td>
          <%= user.username %>
        </td>

        <td class="list_action">
          <%= link_to 'Show', user %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
