<div class="container-fluid">
<%= form_for(order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, size:30 %>
    <%= form.text_field :name, size:40 %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, rows:3, cols:60 %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, size:40 %>
  </div>

  <div class="form-group">
    <%= form.label :payment_type %>
    <%= form.select :payment_type, Order.payment_types.keys, prompt:"Select a payment type", size:40 %>
  </div>

  <div class="form-group">
    <%= form.label :voucher_code %>
    <%= form.text_field :voucher_code, size:40 %>
  </div>


  <div class="actions">
    <%= form.submit "Place Order" %>
  </div>
<% end %>

</div>
