<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<table>
<% total_price = 0.0 %>
  <% @cart.line_items.each do |item| %>
    <tr>
    <td><%= item.quantity %></td>
    <td><%= item.food.name %></td>
    <td class="item_price"><%= number_to_currency(item.total_price, unit: "Rp", delimiter: ".", separator: ",") %></td>
    </tr>
  <% end %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price, unit: "Rp ", delimiter: ".", separator: ",")  %></td>
    </tr>
</table>
<%= link_to 'Back', store_index_path %>
