<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
    <% @foods.each do |food| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td>
          <%= image_tag(food.image_url, class: 'list_image')%>
        </td>
        <td class="list_description">
          <d1>
            <dt><%= food.name %></dt>
            <dd><%= truncate(strip_tags(food.description), length:80) %></dd>
          </d1>
        </td>

        <td class="list_action">
          <%= link_to 'Show', food %>
          <%= link_to 'Edit', edit_food_path(food) %>
          <%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
