<table class="table">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
    <td>Food Qty</td>
    <td>Action</td>
  </tr>

  <% @restaurants.each do|o| %>
  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
    <td><%= o.id %></td>
    <td><%= o.name %></td>
    <td><%= o.address %></td>
    <td><%= o.foods.size %></td>
    <td>  <%= link_to 'Show', o %>
          <%= link_to 'Edit', edit_restaurant_path(o) %>
          <%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>
