<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
    <% @categories.each do |category| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td>
        </td>
        <td>
            <h3><%= category.id %></h3>
        </td>
        <td>
            <h3><%= category.name %></h3>
        </td> 


        <td class="list_action">
        <h3>

          <%= link_to 'Show', category %>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </h3>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Category', new_category_path %>