<p id="notice"><%= notice %></p>

<h1><%= @category.name %>'s Category :</h1>

<% @foods.each do |food| %>
  <div class="entry">
    <%= image_tag(food.image_url) %> 
    <h3><%= food.name %></h3>
    <%= sanitize(food.description) %>
    <div class="price_line">
      <span class="price">
        <%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %>
        
      </span>
    </div> 
  </div>
<% end %>
<br>
<br>
<%= link_to 'Back', store_index_path %>