<div class="row">
<% @foods.each do |food| %>


  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag(food.image_url) %>
      <div class="caption">
        <h3><%= link_to food.name, food_path(food) %></h3>
        <p><%= sanitize(food.description) %></p>
        <p><%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %></p>
          <div style="vertical-align: inherit;">
          <%= button_to 'Add to Cart', line_items_path(food_id: food), remote:true, :class => "btn btn-success btn-sm", :role => "button" %> <%= button_to 'Write Review', new_food_review_path(food_id: food), :class => "btn btn-warning btn-sm", :role => "button"  %>
          </div>
      </div>
    </div>
  </div>

<% end %>


</div>
