<p id="notice"><%= notice %></p>

<% @restaurants.each do |r| %>

  <h1><%= r.name %></h1>
  <h3><%= r.address %></h3>
  <%= link_to 'Write Review', new_restaurant_review_path(restaurant_id: r)  %>
  <% foods = r.foods %>
  <% foods.each do |food| %>
    <div class="entry">
      <%= image_tag(food.image_url) %>
      <h3><%= link_to food.name, food_path(food) %> 
        <% if food.category_id != nil  %>
          (<%= food.category.name %>)
        <% end %>
      </h3>
      <%= sanitize(food.description) %>


      <div class="price_line">
        <span class="price">
          <%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %>
          <%= button_to 'Add to Cart', line_items_path(food_id: food), remote:true %>
          <%= link_to 'Write Review', new_food_review_path(food_id: food)  %>
        </span>
      </div>

      <%if food.tags != nil %>
        <p>
        <% food.tags.each do |f| %>
            <span style="background: green; color: white; font-style: italic;">
            &nbsp;
            <%= f.name %>
            &nbsp;
            </span>
            &nbsp;

        <% end %>
        </p>
      <% end %>

    </div>
  <% end %>
  <br>
  <br>
<% end %>
