<p id="notice"><%= notice %></p>

<% @restaurants.each do |r| %>

  <h1><%= r.name %></h1>
  <h3><%= r.address %></h3>
  <%= link_to 'Write Review', new_restaurant_review_path(restaurant_id: r)  %>
  <% @foods = r.foods %>
  <%= render 'store/foods' %>
  <br>
  <br>
<% end %>
