<!DOCTYPE html>
<html>
  <head>
    <title>GoFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'go-food.png', alt: "Simplified Go Food" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
      <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>
      </div>
        <ul>
          <li><%= link_to 'Home', store_index_path %></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">My Orders</a></li>
        </ul>

        <br>
        <br>
        <div style="color: white;">
          <h3><%= link_to 'Categories :', categories_path %></h3>
          <ul>
          <% @cat=Category.all %>
          <% @cat.each do |category| %>
          <% if category.foods.length != 0 %>
            <li><%= link_to category.name, category %></li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
      <div id="main">
    <%= yield %>
  </body>
</html>