<p id="notice"><%= notice %></p>

<h1>Voucers List</h1>

<table>
  <tr>
    <td>Id</td>
    <td>Code</td>
    <td>Valid from</td>
    <td>Valid through</td>
    <td>Amount</td>
    <td>Unit Type</td>
    <td>Max Amount</td>
    <td>Action </td>
  </tr>

  <% @vouchers.each do|o| %>
  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
    <td><%= o.id %></td>
    <td><%= o.code %></td>
    <td><%= o.valid_from %></td>
    <td><%= o.valid_through %></td>
    <td><%= o.amount %></td>
    <td><%= o.unit_type %></td>
    <td><%= number_to_currency(o.max_amount, unit: "Rp ", delimiter: ".", separator: ",")  %></td>
    <td>  <%= link_to 'Show', o %>
          <%= link_to 'Edit', edit_voucher_path(o) %>
          <%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>
